{% extends 'betting_app/loggedIn-nav-footer.html' %}

{% block title %} Admin {% endblock %}

{% block content %}
<div class="admin-page">
    <div class="page-nav">
        <a href="../betting-admin">dashboard</a>
    </div>
    <h1>Create a new bet</h1>
    <div class="create-bet-container">
        <h3>Leauge:</h3>
        <select name="leauge">
            <option value="3F Superliga">3F Superliga</option>
            <option value="Bundesliga">Bundesliga</option>
            <option value="Champions Leauge">Champions Leauge</option>
            <option value="Europa Leauge">Europa Leauge</option>
            <option value="La Liga">La Liga</option>
            <option value="Premier League">Premier League</option>
            <option value="Serie A">Serie A</option>
        </select>

        <br><br>
        <label for="date"><h3>Date:</h3></label>
        <input type="date" name="date">

        <br><br>
        <h3>Bet:</h3>
        <div class="odds-fields">
            <div>
                <input type="text" name="option_a" placeholder="Manchecter United">
                <p>Vs</p>
                <input type="text" name="option_b" placeholder="Chelsea">
            </div>
            <div>
                <input type="text" name="odds_a" placeholder="5.00">
                <br>
                <p>Odds</p>
                <input type="text" name="odds_b" placeholder="2.00">
            </div>
        </div>
        
        <input type="submit" value="Create bet">
    </div>
</div>
{% endblock %}