{% extends 'betting_app/loggedIn-nav-footer.html' %}

{% block title %} Admin {% endblock %}

{% block content %}
<div class="admin-page">
    <div class="page-nav">
        <a href="#users-overview-section">Users</a>
        <a href="#game-status-section">Game status</a>
        <a href="#payments-section">Payments</a>
        <a href="../create-bet">Add new bet</a>
    </div>
    <h1 id="users-overview-section">USERS</h1>
    <div class="users-overview-container">
        <div class="tabel">
            <h3>NAME</h3>
            <h3>TOTAL BETTINGS</h3>
            <h3>SALDO</h3>
        </div>
        <div class="user-info">
            <div class="username">
                <a href="../singleview"><p>Anders Andersen</p></a>
            </div>
            <div class="user-total-betting">
                <p>2</p>
            </div>
            <div class="user-saldo">
                <p>2.500 DKK</p>
            </div>
        </div>
        <div class="user-info">
            <div class="username">
                <p>Hans Jensen</p>
            </div>
            <div class="user-total-betting">
                <p>2</p>
            </div>
            <div class="user-saldo">
                <p>500 DKK</p>
            </div>
        </div>
        <div class="user-info">
            <div class="username">
                <p>Sally Malling</p>
            </div>
            <div class="user-total-betting">
                <p>2</p>
            </div>
            <div class="user-saldo">
                <p>250 DKK</p>
            </div>
        </div>
    </div>

    <h1 id="game-status-section">GAME STATUS</h1>
    <div class="game-status-container">
        <div class="tabel">
            <h3>Unsettled bets</h3>
            <h3 class="deactivate">Settled bets</h3>
        </div>
        <div class="game">
            <div class="bet-options">
                <p class="option-a">Manchester United</p>
                <p class="option-b">Chelsea</p>
            </div>
            <div class="other">
                <p>Something something..</p>
            </div>
            <div class="update-winner">
                <p>Winner:</p>
                <select name="options" id="options">
                    <option value="notset">Not settled</option>
                    <option value="option-a">Manchester United</option>
                    <option value="option-b">Chelsea</option>
                </select>
                <br><br>
                <input type="submit" value="Update winner">
            </div>
        </div>
        <div class="game">
            <div class="bet-options">
                <p class="option-a">Manchester United</p>
                <p class="option-b">Chelsea</p>
            </div>
            <div class="other">
                <p>Something something..</p>
            </div>
            <div class="update-winner">
                <p>Winner:</p>
                <select name="options" id="options">
                    <option value="notset">Not settled</option>
                    <option value="option-a">Manchester United</option>
                    <option value="option-b">Chelsea</option>
                </select>
                <br><br>
                <input type="submit" value="Update winner">
            </div>
        </div>
    </div>

    <h1 id="payments-section">PAYMENTS</h1>
    <div class="payment-container">
        <div class="saldo">
            <div class="saldo-purple">
                <h2>SALDO</h2>
                <div>
                    <h2>16.000 DKK</h2>
                </div>
            </div>
        </div>
        <div class="transaction-container">
            <h2>TRANSACTION</h2>
            <div class="transaction-tabel">
                <div class="tabel">
                    <h3>AMOUNT</h3>
                    <h3>USER</h3>
                </div>
                <div class="transaction">
                    <p>-50</p>
                    <p>Kasper Poulsen</p>
                </div>
                <div class="transaction">
                    <p>200</p>
                    <p>Andreas Henriksen</p>
                </div>
                <div class="transaction">
                    <p>70</p>
                    <p>Sandra Madsen</p>
                </div>
                <div class="transaction">
                    <p>-100</p>
                    <p>Lars Kristensen</p>
                </div>
                <div class="transaction">
                    <p>110</p>
                    <p>Christians Jeppesen</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}