{% extends 'betting_app/loggedIn-nav-footer.html' %}

{% block title %} Admin {% endblock %}

{% block content %}
<div class="admin-page">
    <div class="page-nav">
        <a href="../betting-admin">dashboard</a>
    </div>
    <h1>Customer details</h1>
    <div class="customer-detail-container">
        <h2>Anders Andersen</h2>
        <h3>Username:</h3>
        <p>ander234</p>
        <h3>Email:</h3>
        <p>anders@mail.com</p>
        <h3>Phone nr.:</h3>
        <p>29374056</p>
        <h3>Verification code:</h3>
        <p>hsj78364jdg47</p>
        <h3>Verified?</h3>
        <p>Yes</p>

        <form action="#" method="POST">
            <h3>Role:</h3>
           {% csrf_token %}
            <select name="role">
                <option value="customer">Customer</option>
                <option value="admin">Admin</option>
            </select>
            <!-- <input type="hidden" name="pk" value="{{user.pk}}"> -->
            <input type="submit" value="Update role">
        </form>
    </div>
</div>
{% endblock %}